<div class="content" ng-controller="catalogsController as vm">
  	<div class="row">
    	<div class="col-lg-12  panel panel-body">
      		<h2 class="h2-tit"><span class="fa fa-dashboard"></span> {{ vm.windowTitle }}</h2>
    	</div>
  	</div>
  	<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <div class="panel panel-heading"><strong>{{ vm.windowTitle }}</strong></div>
            	<div class="panel-body">
                    <div class="col-lg-10 col-md-10 col-sm-8">
	             		<ul class="nav nav-tabs">
	 							<li ng-class="{ active: vm.isSet('data', 1) }"><a data-toggle="tab" ng-click="vm.setTab('data', 1)">Basics</a></li>
	 							<li ng-class="{ active: vm.isSet('data', 2) }"><a data-toggle="tab" ng-click="vm.setTab('data', 2)">CPEs</a></li>
						</ul>	
					</div>
					<div class="panel panel-default col-lg-12 col-md-12 col-sm-12">
                      	<div class="panel-body" ng-show="vm.isSet('data', 1)">
							<div class="container-fluid">
								<div class="row separador"></div>
								<div class="row separador"></div>
		                        <div class="table-responsive" style="overflow:hidden">
		                        	<div class="row">
		                        		<div class="col-lg-6">
					                       <div class="panel panel-default">
					                           <div class="panel-body">
					                               <div id="grid1" ng-style="{'cursor': pointer}" class="grid" data-ui-grid="vm.gridOptions" ui-grid-auto-resize data-ui-grid-pagination data-ui-grid-selection data-ui-grid-exporter>
					                               </div>
					                           </div>
					                       </div>
					                    </div>
					                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 well"> 
											<div class="col-lg-3 col-md-2 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>Id Country:</label>
					                               <input type="number" name="idEstado" id="idEstado" class="form-control" title=""
					                                     ng-model="vm.pais.id" min="0" max="999" 
					                                     maxlength="3" ng-disabled="false">
					                        </div>
					                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>Name:</label>
					                               <input type="text" name="nombre" class="form-control" title=""
					                                     ng-model="vm.pais.nombre" ng-disabled="false">
					                    	</div>
					                    	<div class="col-lg-3 col-md-2 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>Short name:</label>
					                               <input type="text" name="nombre" class="form-control" title=""
					                                     ng-model="vm.pais.nombreCorto" ng-disabled="false">
					                    	</div>
					                   		<div class="col-lg-2 col-md-2 col-sm-6">
					                            <button class="btn btn-default btn-default2 vertcenterbot pull-right" ng-click="vm.savePais()" 
					                            	ng-disabled="!vm.pais.id || !vm.pais.nombre">
								                    <i class="fa fa-floppy-o"></i>&nbsp;save
								                </button>
					                        </div>
					                	</div>
					                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 well">
			                        		<div class="col-lg-4 col-md-4">
				                        		<label class='recortado'>Origin:</label>
				                                <select class="form-control" name="idPais" ng-model="vm.brand.idPais"
			                                        ng-options="item.id as item.id +' - ' + item.nombre for item in vm.paises | orderBy:'id' track by item.id"
			                                        ng-disabled="false">
				                                    <option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
				                                </select>
				                            </div>
					                        <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>Name:</label>
					                               <input type="text" name="nombre" class="form-control" title=""
					                                     ng-model="vm.brand.nombre" ng-disabled="false">
					                    	</div>
					                    	<div class="col-lg-3 col-md-2 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>OUI:</label>
					                               <input type="text" name="nombre" class="form-control" title=""
					                                     ng-model="vm.brand.oui" ng-disabled="false">
					                    	</div>
					                   		<div class="col-lg-2 col-md-2 col-sm-6">
					                            <button class="btn btn-default btn-default2 vertcenterbot pull-right" ng-click="vm.saveBrand()" 
					                            	ng-disabled="!vm.brand.idPais || !vm.brand.nombre || !vm.brand.oui">
								                    <i class="fa fa-floppy-o"></i>&nbsp;save
								                </button>
					                        </div>
					                	</div>
					                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 well">
					                		<div class="col-lg-3 col-md-4">
					                			<input type="text" name="nombre" class="form-control" title="" ng-model="vm.modelo.id" ng-show="false">
				                        		<label class='recortado'>Brand:</label>
				                                <select class="form-control" name="idBrand" id="ModelIdBrand" ng-model="vm.modelo.brand"
			                                        ng-options="item as item.nombre +' - ' + item.oui for item in vm.marcas track by item.id"
			                                        ng-disabled="!vm.comboModelo">
			                                        <option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
				                                </select>
				                            </div>
				                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-show='true'>
					                       		<label class='recortado'>Nombre:</label>
					                            <input type="text" name="modeloName" id="modeloName" class="form-control" title="" ng-model="vm.modelo.nombre">
					                    	</div>
					                    	<div class="col-lg-3 col-md-4 col-sm-6">
					                            <button class="btn btn-default btn-default2 vertcenterbot pull-right" ng-click="vm.cancelEdit()" 
					                            	ng-disabled="!vm.modelo.brand">
								                    <i class="fa fa-times"></i>&nbsp;cancel
								                </button>
					                        </div>
					                    	<div class="col-lg-3 col-md-4 col-sm-6">
					                            <button class="btn btn-default btn-default2 vertcenterbot pull-right" ng-click="vm.saveModelo()" 
					                            	ng-disabled="!vm.modelo.brand || !vm.modelo.nombre">
								                    <i class="fa fa-floppy-o"></i>&nbsp;save
								                </button>
					                        </div>
					                	</div>
				                   	</div>
				                   	<div class="row separador"></div>
			                    </div>
		                    </div>
                       	</div>
                       	<div class="panel-body" ng-show="vm.isSet('data', 2)">
							<div class="container-fluid">
								<div class="row separador"></div>
								<div class="row separador"></div>
		                        <div class="table-responsive" style="overflow:hidden">
		                        	<div class="row">
		                        		<div class="col-lg-12">
		                        			<div class="col-lg-12 well"> 
		                        				<h3>Data</h3>
		                        				<div class="row">
		                        					<div class="col-lg-3 col-md-3">
						                        		<label class='recortado'>Device Type:</label>
						                                <select class="form-control" name="idPais" ng-model="vm.cpe.model"
					                                        ng-options="item.id as item.brand.nombre +' - ' + item.nombre for item in vm.modelos track by item.id" ng-disabled="false">
						                                    <option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
						                                </select>
						                            </div>
						                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
							                       		<label class='recortado'>Serial Number:</label>
							                            <input type="text" class="form-control" title="" ng-model="vm.cpe.serial">
							                    	</div>
							                    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
							                       		<label class='recortado'>IP Address:</label>
							                            <input type="text" class="form-control" title="" ng-model="vm.cpe.ip" ui-mask="(9?9?9?){1, 3}\.(9){1, 3}\.(9){1, 3}\.(9){1, 3}" ui-mask-placeholder ui-mask-placeholder-char="_">
							                    	</div>
							                    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
							                       		<label class='recortado'>MAC Address:</label>
							                            <input type="text" class="form-control" title="" ng-model="vm.cpe.mac" ui-mask="" ui-mask-placeholder ui-mask-placeholder-char="_">
							                    	</div>
							                    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
							                       		<label class='recortado'>Subscriber Reference ID:</label>
							                            <input type="text" class="form-control" title="" ng-model="vm.cpe.suscriber">
							                    	</div>
							                    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
							                       		<label class='recortado'>Software Version:</label>
							                            <input type="text" class="form-control" title="" ng-model="vm.cpe.firmware">
							                    	</div>
		                        				</div>
		                        				<div class="row">
		                        					<div class="col-lg-1 col-md-1 col-sm-2">
							                            <button class="btn btn-default btn-default2 vertcenterbot" ng-click="vm.cancelEdit()" 
							                            	ng-disabled="!vm.modelo.brand">
										                    <i class="fa fa-times"></i>&nbsp;cancel
										                </button>
							                        </div>
							                    	<div class="col-lg-1 col-md-1 col-sm-2">
							                            <button class="btn btn-default btn-default2 vertcenterbot" ng-click="vm.saveCPE()" 
							                            	ng-disabled="!vm.cpe.model || !vm.cpe.serial || !vm.cpe.ip || !vm.cpe.mac">
										                    <i class="fa fa-floppy-o"></i>&nbsp;save
										                </button>
							                        </div>
		                        				</div>
		                        			</div>
		                        		</div>
		                        	</div>
		                        </div>
		                    </div>
		        		</div>
             	</div>         
              	</div>
            </div>
        </div>
	</div>
</div>