<div class="content" ng-controller="toolsController as vm">
	<div class="row">
		<div class="col-lg-12  panel panel-body">
			<h2 class="h2-tit">
				<span class="fa fa-dashboard"></span> {{ vm.windowTitle }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel panel-heading">
					<strong>{{ vm.windowTitle }}</strong>
				</div>
				<div class="panel-body">
					<div class="col-lg-12">
                      	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                       		<label class='recortado'>Estado:</label>
                            <select class="form-control" name="estado" ng-model="vm.address.estado" ng-change="vm.getMunicipiosPorEstado()"
                                   ng-options="item as item.nombre for item in vm.estados | orderBy:'id' track by item.id"
                                   ng-disabled="false">
                            	<option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                       		<label class='recortado'>Municipio:</label>
                            <select class="form-control" name="municipio" ng-model="vm.address.municipio" ng-change="vm.getColoniasPorMunicipio(vm.address.municipio)"
                                   ng-options="item as item.nombre for item in vm.municipios | orderBy:'id' track by item.id"
                                   ng-disabled="false">
                            	<option value="" >{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                       		<label class='recortado'>Colonia/Asentamiento:</label>
                            <select class="form-control" name="colonia" ng-model="vm.address.colonia" ng-change="vm.setMunicipioId(vm.address.colonia)"
                                   ng-options="item as item.tipoAsentamiento + '-' + item.asentamiento for item in vm.colonias | orderBy:'id' track by item.id"
                                   ng-disabled="false">
                            	<option value="">{{ ::vm.DEFAULT_OPTION_SELECT }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" ng-show='true'>
                       		<label class='recortado'>Código Postal:</label>
                            <input type="text" name="cp" class="form-control" title="" ng-model="vm.address.cp" ng-change="vm.getCPData()">
                    	</div>
                    	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                       		<label class='recortado'>Archivos:</label>Lista:{{ vm.data }},
                            <input type="file" name="archivos" id="file" class="form-control" title="" ng-model="vm.archivos" multiple="multiple">
                    	</div>
                    	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
							<button ng-click="vm.uploadFile()">Upload</button>
                    	</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>