<div class="content" ng-controller="toolsController as vm">
	<div class="row">
		<div class="col-lg-12  panel panel-body">
			<h2 class="h2-tit">
				<span class="fa fa-dashboard"></span> {{ vm.windowTitle }}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel panel-heading">
					<strong>{{ vm.windowTitle }}</strong>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>